body{
    margin: 0;
}

header{
    background-color: rgba(255, 230, 0, 0.695);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    position: sticky;
    position: -webkit-sticky;
    overflow: auto;
    float: top;
    border-bottom: solid black;

}

.header__h1{

font-weight: bolder;
color: black;
    @media screen and (min-width:441px){
        font-size: 2rem;
    }
    @media screen and (max-width:440px){
        font-size: 1rem;
    }
}

.header__form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__form__input{

    padding-left: 1rem;
    height: 2rem;

    @media screen and (min-width:441px){
        width:20rem

    }
    @media screen and (max-width:440px){
        width: 10rem;
    }
    
}

.header__form__button{
    height: 2.4rem;
    width:10rem;
    margin-left: 2rem;
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 1rem;
    @media screen and (max-width:440px){
        width: 6rem;
}
}

main{
    background-color: white;
}

.main__section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{font-family: Raleway;}

.main__section__article{
    background-color: rgb(189, 189, 189);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 40rem;
    height: auto;
    margin-bottom: 2rem;
    color: black;
    border-radius: 1rem;
    transition-duration: 0.2s;
    
}

.main__section__article__h2{
    font-weight: bolder;

}

.main__section__article__h3, p, .main__section__article__h5{
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}